.header {
    position: relative;
    padding: 7.8px 36px 7.8px 24px;
    background-color:#0067A3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    display: flex;
    align-items: center;
    color: white;
}
.header-title h1 {
    font-size: 28px;
}
.header-avatar {
    cursor: pointer;
    position: relative;
    background: url(./svg/user.svg) no-repeat;
    background-position: bottom;
    background-color: white;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid white;
    
}
.header-arrow {
    transition: 0.1s all;
    background: url(./svg/arrow.svg);
    position: absolute;
    top: 50%;
    right: -50%;
    width: 12px;
    height: 8px;

}
.rotate {
    transition: 0.1s all;
    transform: rotate(180deg);
}

