.login-menu {
    position: absolute;
    top: 110%;
    right: 2%;
    box-shadow: 1px 1px rgb(216, 216, 216);
    border-radius: 5px;
    font-size: 14px;
    width: 135px;
    background-color: white;
    color: black;
    padding: 8px 8px;
}


.login-menu div:first-child {
    position: relative;
}

.login-menu div:first-child::before {
        content: ''; 
        position: absolute; 
        top: -150%;
        right: 6.5%;
        border: 10px solid transparent; 
        border-bottom: 10px solid white; 
}

.login-menu div:hover {
    background-color: rgb(216, 216, 216);
}
.login-menu div {
    border-radius: 5px;
}
button {
    cursor: pointer;
}

