
/* .backlog-wrapper {
    font-size: 18px;
    padding: 12px 12px 8px 12px;
    background: #EBECF0;
    border-radius: 10px;
}
.backlog-content {

}
.backlog-content h2 {
    margin-bottom: 15px;
}
.backlog-content-list {
    list-style-type: none;
    padding-left: 0;
}
.backlog-content-list li {
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.backlog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.backlog-button:hover {
    background: white;
}
.backlog-button button{
    background: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.backlog-input {
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.backlog-input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black ;
    outline: none;  
}
.display__none {
    display: none;
}
.backlog-submit {
    text-align: center;
    background-color:  #0079BF;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.backlog-submit button {
    padding-top: 4px;
    font-size: 18px;
    border: none;
    background: none;
    color: white;
} */